    <!-- Hero -->
    <header id="home">
        <div class="header-container">
            <div class="organizers-top">
                {{ hero.organizers.main }} <br>
                <span style="color: white; font-size: 0.85rem; font-weight: normal;">{{ hero.organizers.association }}</span> <br>
                {{ hero.organizers.partner }}
            </div>
            <h1>{{ hero.title_top }} <br><span style="color: #fbd38d;">{{ hero.title_highlight }}</span></h1>
            <div class="event-date">{{ hero.dates }}</div>
        </div>
    </header>
