    <!-- Registration -->
    <section id="registration">
        <h2>{{ registration.title }}</h2>
        <div style="margin-top: 3rem; margin-bottom: 2rem; text-align: center;">
            <a href="{{ registration.url }}" target="_blank" style="display: inline-block; background-color: var(--accent); color: white; padding: 1.2rem 3rem; border-radius: 50px; font-weight: bold; font-size: 1.25rem; text-decoration: none; box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05); transition: all 0.3s ease; text-transform: uppercase; letter-spacing: 1px;">
                Click here to register
            </a>
        </div>
    </section>
